#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --noipv6 --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=on --noipv6 --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$xOzGCeUJwnZMbFdB$R3jVNKzPooMXwxp8oHiHdH4gymqb8VcFpZcH24Qjyp24kB8Bh/8EXbgoVtpai39G1d3FfZY3URqKXz4YKifJ7.
# System timezone
timezone Asia/Tokyo --isUtc
user --name=vagrant --password=$6$oCtY7vAST68ujIpf$mOmbiZtgstXTPPoVM46yCnM5sHqjV6XVeK54y8hmMVHpEfqQQawep3iwsvc4licHID9BXqxoX9RVimSVa82jr/ --iscrypted --gecos="vagrant"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part pv.1808 --fstype="lvmpv" --ondisk=sda --size=17478
part /boot --fstype="xfs" --ondisk=sda --size=953
volgroup centos --pesize=4096 pv.1808
logvol /  --fstype="xfs" --size=16452 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=1020 --name=swap --vgname=centos

%packages
@^minimal
@core
kexec-tools

%end

%post
# yum
yum groupinstall "Development Tools" -y
yum  install -y vim bind-utils tree nano epel-release git \
     fontconfig fontconfig-devel httpd net-tools \
     libicu-devel icu openssl-devel qt3 ruby gperf  sqlite-devel
yum remove -y php php-* 
# php-71
yum install -y http://rpms.famillecollet.com/enterprise/remi-release-7.rpm
yum install -y yum-utils
yum install -y --enablerepo=remi,remi-php70 php php-devel php-mbstring php-pdo php-gd \
        php-pgsql php-mcrypt php-zlib php-zip php-mysql php-mysqlnd \
        php-curl vim tree net-tools bind-utils

# PostgreSQL
yum insall -y https://download.postgresql.org/pub/repos/yum/9.5/redhat/rhel-7-x86_64/pgdg-centos95-9.5-3.noarch.rpm
yum install  -y install \ 
 	postgresql95-server postgresql95-devel \
 	postgresql95-contrib php70-php-pecl-gnupg php70-php-pgsql \
 	php70-php-pecl-memcache php70-php-pecl-memcached \
 	php70-php-pecl-json-post php70-php-pecl-crypto \
 	php70-php-pecl-selinux

/usr/pgsql-9.5/bin/postgresql95-setup initdb
echo "postgres" | passwd --stdin postgres
echo "host all all 192.168.100.0/24 trust" >> /var/lib/pgsql/9.5/data/pg_hba.conf
# systemctl start postgresql-9.5
systemctl enable postgresql-9.5
# systemctl restart postgresql-9.5

# mariadb-server
yum install -y mariadb-server mariadb mariadb-devel

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
reboot --eject
